.search {
  position: relative;
  display: inline-block;
}
.search input {
  width: 240px;
  height: 35px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  padding-left: 4px;
  font-size: 15px;
  padding-right: 32px; /* Leave space for the icon */
  box-shadow: 1px 1px 4px gray;
}

.search input:focus {
  border: 1px solid var(--primary-color);
  outline: none;
}
.searchicon {
  position: absolute;
  left: 225px;
  top: 18px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #555;
  pointer-events: none; /* Makes the icon unclickable */
}
