.thumbnail {
  width: 200px;
  height: auto;
  cursor: pointer;
  /* border: 1px solid #ccc; */
  border-radius: 6px;
  transition: transform 0.2s ease-in-out;
}
.thumbnail:hover {
  transform: scale(1.05);
}

.drawerOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  justify-content: flex-end;
}

.drawer {
  background-color: var(--primary-light);
  width: 80%;
  max-width: 700px;
  height: 100%;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.drawerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawerHeader button {
  font-size: 24px;
  border: none;
  background: none;
  cursor: pointer;
  line-height: 1;
}

.drawerBody {
  flex: 1;
  overflow: auto;
}

.zoomWrapper {
  transform-origin: top left;
  transition: transform 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.zoomImage {
  width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.zoomControls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.zoomControls button {
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  color: white;
  background-color: #003366;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.zoomLabel {
  font-size: 14px;
  color: #555;
}
